@{
    ViewData["Title"] = "Home Page";
}

<h2>Multi-staged forms</h2>
<ul>
    <li><a asp-controller="Reset" asp-action="Index">Password Reset</a></li>
    <li><a asp-controller="Create" asp-action="Index">User Create</a></li>
    <div></div>
    <li><a asp-controller="Controls" asp-action="Index">Controls Check</a></li>
</ul>