@model dynamic
@{
    ViewBag.Title = "Sign up";
}

<h2>Sign up result</h2>
<dl class="dl-horizontal">
    <dt>First name</dt>
    <dd>John</dd>
    <dt>Last name</dt>
    <dd>Smith</dd>
    <dt>Birthday</dt>
    <dd>January 1, 2000</dd>
    <dt>Email</dt>
    <dd>jonh.smith@example.com</dd>
    <dt>Password</dt>
    <dd>Qwerty123</dd>
    <dt>User existed</dt>
    <dd>True</dd>
    <dt>Remembered</dt>
    <dd>False</dd>
</dl>
